<h1>Projects</h1>
<div class="section-divider"></div>
<p>Select a project from the sidebar to view details.</p>
<script src="/js/sidebar-projects.js"></script>
<script src="/js/load-project.js"></script>